.infoContainer{
    width: 400px;
    aspect-ratio: 1/1.5;
    background-color: #AEADB9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 22.5px;
    box-shadow: 0 0 10px 15px #676186;
}

.infoun{
    display: flex;
}

.accInfo{
    position: absolute;
    color: #2D2A3B;
    font-size: 25px;
    width: 100%;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-weight: 700;
}

.editButton{
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translate(50%);
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: outfit;
    background-color: #2D2A3B;
    border: 2px solid #676186;
    cursor: pointer;
}

.infoBlock{
    width: inherit;
}

.upperInfo, .lowerInfo{
    width: inherit;
    color: #2D2A3B;
}

.upperInfo{
    margin-left: 20%;
    font-weight: 300;
    font-size: 16px;
}

.lowerInfo{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}