.navigationBar{
    height: 60px;
    width: 100%;
    background-color: #4C4863;
    position: fixed;
    bottom: 0;
    border-radius: 22.5px 22.5px 0 0;
    display: flex;
}

.buttonPlus{
    width: 60px;
    height: 60px;
    background-color: #676186;
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
}

.imagePlus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonBrowse, .buttonAccount{
    width: 50%;
    height: 100%;
}