.sUploadContainer {
    font-family: outfit;
    width: min(75%, 1024px);
    height: 450px;
    background-color: #AEADB9;
    margin: auto;
    padding: 25px;
    border-radius: 22.5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    box-shadow:
    0px 0px 20px rgba(103, 97, 134, 0.5),
    0px 5px 5px -1px rgba(46, 42, 59, 0.25),
    inset 4px 4px 8px rgba(139, 130, 181, 0.5),
    inset -4px -4px 8px rgba(76, 72, 99, 0.35);
}

@keyframes movingBG {
    0% {
        background-position: bottom left;
    }
    
    50% {
        background-position: top right;
    }

    100% {
        background-position: bottom left;
    }
}

.backgroundBox {
    width: 1174px;
    height: 600px;
    background-size: 280% auto;
    background-image:
        linear-gradient(325deg,
            #666180 5%,
            #676186 55%,
            #454257 95%);
    box-shadow:
        0px 0px 20px rgba(103, 97, 134, 0.5),
        0px 5px 5px -1px rgba(46, 42, 59, 0.25),
        inset 4px 4px 8px rgba(139, 130, 181, 0.5),
        inset -4px -4px 8px rgba(76, 72, 99, 0.35);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 45px;
    animation-name: movingBG;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.formRight {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formLeft {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputsama {
    width: 90%;
    height: 40px;
    margin: auto;
    background-color: #dfdfdf;
    border: 2px solid #8B82B5;
    color: #2D2A3B;
    font-size: 1.2rem;
}

label {
    color: #2D2A3B;
    font-size: 20px;
}

.leaf1,
.leaf2,
.leaf3 {
    position: absolute;
}

.leaf1 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -150px;
    right: -0px;
    rotate: 180deg;
    opacity: 0.2;
}

.leaf2 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -200px;
    right: -150px;
    rotate: 200deg;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: 0.3;
    z-index: -1;
}

.leaf3 {
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -150px;
    left: -100px;
    opacity: 0.2;
    z-index: -1;
}

.tile1{
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -100px;
    right: -100px;
    rotate: -12deg;
    opacity: 0.4;
    z-index: -1;
}

.uploadFile::-webkit-file-upload-button {
    display: none;
}

.uploadFile {
    content: '';
    width: 90%;
    height: 40px;
    margin: auto;
    background-color: #dfdfdf;
    border: 2px solid #8B82B5;
    color: #2D2A3B;
    font-size: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.bigahhtext {
    color: #2D2A3B;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-5%, -5%);
    margin: 0;
    font-size: 50px;
}

.bigahhbutton {
    position: absolute;
    width: 250px;
    height: 40px;
    border: 0;
    background-color: #2D2A3B;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-weight: bold;
}

.bigahhbutton:hover{
    cursor: pointer;
}