.bigBox{
    width: 80%;
    height: 1000px;
    margin: auto;
    border-radius: 45px;
    background-color: #676186;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
}