@media (max-width: 639px){
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        padding: 20px;
        border-radius: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2D2A3B;
        color: rgb(223, 223, 223);
        border: 1px solid rgb(103, 97, 134);
    }

    .title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 10px;
        color: #AAA0DE;
    }

    .message,
    .signin {
        font-size: 14.5px;
        color: rgb(223, 223, 223, 0.7);
    }

    .toSignIn {
        visibility: unset;
    }

    .signin {
        text-align: center;
    }

    .signin a:hover {
        text-decoration: underline #8B82B5;
    }

    .signin a {
        color: #AAA0DE;
    }

    .flex {
        display: flex;
        width: 100%;
        gap: 6px;
    }

    .form label {
        position: relative;
    }

    .form label .input {
        background-color: #3b384b;
        color: #dfdfdf;
        width: 100%;
        padding: 20px 05px 05px 10px;
        outline: 0;
        border: 1px solid rgba(103, 97, 134, 0.397);
        border-radius: 10px;
    }

    .form label .input+span {
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 10px;
        top: 0px;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
    }

    .form label .input:placeholder-shown+span {
        top: 12.5px;
        font-size: 0.9em;
    }

    .form label .input:focus+span,
    .form label .input:valid+span {
        color: #8B82B5;
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
    }

    .input {
        font-size: medium;
    }

    .submit {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
        background-color: #676186;
        transition: 0.5s;
    }

    .submit:hover {
        background-color: #8B82B5;
        cursor: pointer;
    }
}

@media (min-width: 640px) {
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        padding: 20px;
        border-radius: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2D2A3B;
        color: rgb(223, 223, 223);
        border: 1px solid rgb(103, 97, 134);
    }

    .title {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 10px;
        color: #AAA0DE;
    }

    .message,
    .signin {
        font-size: 14.5px;
        color: rgb(223, 223, 223, 0.7);
    }

    .toSignIn {
        visibility: unset;
    }

    .signin {
        text-align: center;
    }

    .signin a:hover {
        text-decoration: underline #8B82B5;
    }

    .signin a {
        color: #AAA0DE;
    }

    .flex {
        display: flex;
        width: 100%;
        gap: 6px;
    }

    .form label {
        position: relative;
    }

    .form label .input {
        background-color: #3b384b;
        color: #dfdfdf;
        width: 100%;
        padding: 20px 05px 05px 10px;
        outline: 0;
        border: 1px solid rgba(103, 97, 134, 0.397);
        border-radius: 10px;
    }

    .form label .input+span {
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 10px;
        top: 0px;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
    }

    .form label .input:placeholder-shown+span {
        top: 12.5px;
        font-size: 0.9em;
    }

    .form label .input:focus+span,
    .form label .input:valid+span {
        color: #8B82B5;
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
    }

    .input {
        font-size: medium;
    }

    .submit {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
        background-color: #676186;
        transition: 0.5s;
    }

    .submit:hover {
        background-color: #8B82B5;
        cursor: pointer;
    }
}