@media (max-width: 1023px){
    .footer{
        display:none;
    }
}

@media (min-width: 1024px){
    #root{
        overflow: hidden;
    }
    
    .footer{
        width: 100%;
        height: 10rem;
        background-color: #2D2A3B;
        border-radius: 50px 50px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
        gap: 1rem;
    }

    .alpi, .bo, .gyula{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}