.bigPic {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pop {
    background: #AEADB9;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.theSongName{
    margin: 0;
    color: #2D2A3B;
}