/*@media (max-width: 639px){
    .box{
        width: 95%;
        height: 20vw;
        background-color: #8B82B5;
        margin: 0 auto;
        border-radius: 22.5px;
        position: relative;
        overflow: hidden; 
    }

    .imageDiv{
        height: 100%;
        width: 250px;
    }

    h3, p{
        margin: 0;
        font-family: outfit;
    }
    
    h3{
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 10px;
        color: #dfdfdf;
    }

    .artistAlbum{
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #dfdfdf;
        font-weight: 300;
    }

    .uploader{
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        transform: translate(-50% 0);
        color: #dfdfdf;
        font-weight: 100;
    }
}

@media (min-width: 640px){
    .box{
        width: 45%;
        height: 350px;
        background-color: #8B82B5;
        margin: auto;
        border-radius: 22.5px;
        display: flex;
        position: relative;
    }

    .left{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .bgImage{
        width: 100%;
        height: 100%;
        border-radius: 22.5px;
        object-fit: cover;
        filter: blur(4px) saturate(0.75) brightness(0.75);
        mask-image: linear-gradient(225deg, rgba(139, 130, 181, 0.25), rgba(0,0,0, 1));
    }
    
    .right{
        width: 100%;
        position: relative;
    }

    h3, p{
        margin: 0;
        font-family: outfit;
    }
    
    h3{
        font-size: 25px;
        position: absolute;
        bottom: 15%;
        transform: translateY(-25%);
        left: 20px;
        color: #dfdfdf;
    }

    .artistAlbum{
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        left: 20px;
        transform: translateY(-10%);
        color: #dfdfdf;
        font-weight: 300;
    }

    .uploader{
        font-size: 15px;
        position: absolute;
        bottom: 5%;
        left: 20px;
        transform: translateY(-5%);
        color: #dfdfdf;
        font-weight: 100;
    }
}

@media (min-width: 1024px){
    .box {
        width: 100%;
        height: 0;
        padding-bottom: 100%; 
        background-color: #8B82B5;
        border-radius: 22.5px;
        position: relative;
        overflow: hidden;
    }

    h3, p{
        margin: 0;
        font-family: outfit;
    }
    
    h3{
        font-size: 25px;
        position: absolute;
        bottom: 15%;
        transform: translateY(-25%);
        left: 20px;
        color: #dfdfdf;
    }

    .artistAlbum{
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        left: 20px;
        transform: translateY(-10%);
        color: #dfdfdf;
        font-weight: 300;
    }

    .uploader{
        font-size: 15px;
        position: absolute;
        bottom: 5%;
        left: 20px;
        transform: translateY(-5%);
        color: #dfdfdf;
        font-weight: 100;
    }
}

@media (min-width: 1400px){
    .box {
        width: 100%;
        height: 0;
        padding-bottom: 100%; 
        background-color: #8B82B5;
        border-radius: 22.5px;
        position: relative;
        overflow: hidden; 
    }

    h3, p{
        margin: 0;
        font-family: outfit;
    }
    
    h3{
        font-size: 25px;
        position: absolute;
        bottom: 15%;
        transform: translateY(-25%);
        left: 20px;
        color: #dfdfdf;
    }

    .artistAlbum{
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        left: 20px;
        transform: translateY(-10%);
        color: #dfdfdf;
        font-weight: 300;
    }

    .uploader{
        font-size: 15px;
        position: absolute;
        bottom: 5%;
        left: 20px;
        transform: translateY(-5%);
        color: #dfdfdf;
        font-weight: 100;
    }
}*/

.card{
    padding-bottom: 0%;
}

h3, p{
    margin: 0;
    padding: 0;
    color: #dfdfdf;
}

@media (max-width: 639px){
    .card{
        width: 95%;
        height: 20vw;
        background-color: #8B82B5;
        margin: 0 auto;
        border-radius: 22.5px;
        overflow: hidden;
        display: flex;
    }

    .mobileImage{
        height: 100%;
        width: 25%;
        background-color: #63598f;
    }

    .mobileImageg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .rest{
        width: 100%;
        height: 100%;
        padding-left: 20px;
        text-align: start;
        position: relative;
    }

    .songName{
        font-size: 1.5rem;
        font-weight: 700;
        position: absolute;
        top: 0%;
    }

    .artistAlbum{
        font-size: 1.2rem;
        font-weight: 400;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .uploader{
        font-size: 0.9rem;
        font-weight: 100;
        position: absolute;
        top: 90%;
        transform: translateY(-90%);
    }
}

@media (min-width: 640px){
    .card{
        width: 45%;
        height: 350px;
        background-color: #8B82B5;
        margin: auto;
        border-radius: 22.5px;
        display: flex;
        position: relative;
    }

    .mobileImage{
        display: none;
    }

    .rest{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        text-align: start;
        position: relative;
    }

    .songName{
        font-size: 1.5rem;
        font-weight: 700;
        position: absolute;
        bottom: 15%;
        transform: translateY(-15%);
    }

    .artistAlbum{
        font-size: 1.2rem;
        font-weight: 400;
        position: absolute;
        bottom: 10%;
    }

    .uploader{
        font-size: 0.9rem;
        font-weight: 100;
        position: absolute;
        bottom: 5%;
        transform: translateY(-5%);
    }
}

@media (min-width: 1024px){
    .card{
        width: min(100%, 350px);
        background-color: #8B82B5;
        margin: auto;
        border-radius: 22.5px;
        display: flex;
        position: relative;
    }

    .mobileImage{
        display: none;
    }

    .rest{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        text-align: start;
        position: relative;
    }

    .songName{
        font-size: 1.5rem;
        font-weight: 700;
        position: absolute;
        bottom: 15%;
        transform: translateY(-15%);
    }

    .artistAlbum{
        font-size: 1.2rem;
        font-weight: 400;
        position: absolute;
        bottom: 10%;
    }

    .uploader{
        font-size: 0.9rem;
        font-weight: 100;
        position: absolute;
        bottom: 5%;
        transform: translateY(-5%);
    }
}

@media (min-width: 1400px){
    .card{
        width: min(100%, 350px);
        height: 275px;
        background-color: #8B82B5;
        margin: auto;
        border-radius: 22.5px;
        display: flex;
        position: relative;
    }

    .mobileImage{
        display: none;
    }

    .rest{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        text-align: start;
        position: relative;
    }

    .songName{
        font-size: 1.5rem;
        font-weight: 700;
        position: absolute;
        bottom: 15%;
        transform: translateY(-15%);
    }

    .artistAlbum{
        font-size: 1.2rem;
        font-weight: 400;
        position: absolute;
        bottom: 10%;
    }

    .uploader{
        font-size: 0.9rem;
        font-weight: 100;
        position: absolute;
        bottom: 5%;
        transform: translateY(-5%);
    }
}