#root {
  text-align: center;
  width: 100%;
}

.song-table {
  margin: 20px;
  overflow-x: auto;
  text-align: center;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4C4863;
}

tr:hover {
  background-color: #676186;
}