#root {
  width: 100%;
  position: absolute;
}

body{
  background-color: #dfdfdf;
}

/*

@media (max-width: 1023px){
  .tile1, .tile2, .tile3, .tile4, .tile5{
    display: none;
  }
}

@media (min-width: 1024px){
  .tile1{
    position: absolute;
    z-index: -10;
    width: 600px;
    top: -100px;
    left: -30px;
    rotate: 12deg;
    opacity: 0.2;
  }
  
  .tile2{
    position: absolute;
    z-index: -10;
    width: 400px;
    top: 200px;
    right: 30px;
    rotate: -12deg;
    opacity: 0.2;
  }
  
  .tile3{
    position: absolute;
    z-index: -10;
    width: 600px;
    bottom: 100px;
    left: -30px;
    rotate: -30deg;
    opacity: 0.2;
  }
  
  .tile4{
    position: absolute;
    z-index: -10;
    width: 400px;
    bottom: 300px;
    right: 100px;
    rotate: 12deg;
    opacity: 0.2;
  }
  
  .tile5{
    position: absolute;
    z-index: -10;
    width: 200px;
    bottom: 50%;
    transform: translateY(50%);
    left: -100px;
    rotate: -10deg;
    opacity: 0.2;
  }
}

.song-table {
  margin: 20px;
  overflow-x: auto;
  text-align: center;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4C4863;
}

tr:hover {
  background-color: #676186;
}*/