@media (max-width: 639px){
    .modal{
        width: 100%;
        height: 60%;
        background-color: #dfdfdf;
        background-color: rgba(223, 223, 223, 0.9);
        border-top: #2D2A3B solid 2px;
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 22.5px 22.5px 0 0;
        z-index: 10;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .x{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 15px;
        background-color: #676186;
        border: 2px solid #2D2A3B;
        color: #dfdfdf;
    }

    .restFilter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 2rem;
        gap: 5rem;
    }

    .genresDDmobile, .artistsDDmobile, .albumsDDmobile{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2D2A3B;
    }

    .ddLabel{
        padding-right: 1rem;
    }

    .dd{
        padding: 0.1rem;
    }
}

@media (min-width: 640px){
    .modal{
        width: 100%;
        height: 40%;
        background-color: #dfdfdf;
        background-color: rgba(223, 223, 223, 0.9);
        border-bottom: #2D2A3B solid 2px;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0 0 22.5px 22.5px;
        z-index: 10;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .x{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
        width: 40px;
        height: 40px;
        border-radius: 15px;
        background-color: #676186;
        border: 2px solid #2D2A3B;
        color: #dfdfdf;
    }

    .restFilter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 3rem;
        gap: 5rem;
    }

    .genresDDmobile, .artistsDDmobile, .albumsDDmobile{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2D2A3B;
    }

    .ddLabel{
        padding-right: 1rem;
    }

    .dd{
        padding: 0.1rem;
    }
}

@media (min-width: 1024px){
    .modal{
        display: none;
    }
}

.modal{
    display: none;
}